body{
    background: rgb(255, 251, 252);
}

@font-face {
    font-family: "FiraSans-Black" ;
    src: url(../Fira_Sans/FiraSans-Black.ttf) format("truetype");
    font-style: bold;
    font-weight: bold;
}

h1{
    font-family: "FiraSans-Black" ;  
}

/* h1{
    color: rgb(0, 26, 255);
    font-size: 38px;
} */

.mytext{
    color: cadetblue;
}

a{
    text-decoration: none;
    color: rgb(0, 26, 255);
}

a:hover{
    color: rgb(92, 108, 251);
}



.pic1{
    width: 25%;  /* width -  ширина в данном случае картинки  */
    margin: 2%;  /* margin - внешний отступ */
    border-radius: 10px; /* border-radius - скругление углов */
}